[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansicolors = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"
pycodestyle = ">=2.3,<2.4"
pylint = "*"
rope = "*"

[requires]
python_version = "3.7"
